# Android Studio
.idea/
.gradle/
local.properties

# Build output
build/
*/build/

# Log, cache, tmp
*.log
*.tmp
*.bak
*.orig
*.swp
.cxx/
captures/

# Keys, secrets
*.jks
*.keystore
key.properties
google-services.json

# System files
.DS_Store
Thumbs.db
